<div id="box" class="wrapper" (mousemove)="animateElements($event)" (mouseout)="updateValues($event)">
  <div  class="middle-container" >
    <img #bigCircle src="assets/img/big-circle.png" alt="" class="big-circle animated">
    <img #middleCircle src="assets/img/middle-circle.png" alt="" class="middle-circle animated">
    <img #smallCircle src="assets/img/small-circle.png" alt="" class="small-circle animated">
    <div class="big-text">
      <div>
        Call
      </div>
      <div>
        for
      </div>
      <div>
        papers.
      </div>
    </div>
    <div class="text">
      <div class="container">
        <p>Are you interestedin being <br class="mobile"> part of <br class="desktop"> NG-COLOMBIA<br class="mobile"> speakers team? <br> Share with us your work!</p>
        <p>
          <button mat-flat-button color="primary">FILL FORM</button>
        </p>
      </div>
    </div>
  </div>
</div>